<div class="post-show row">
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>

  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.account.avatar.attached? %>
          <%= link_to profile_path(@post.account) do %>
            <%= image_tag @post.account.avatar %>
          <% end %>
          <%else%>
          <%= link_to profile_path(@post.account) do %>
            <%= image_tag("profile2.jpg")%>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.account.username, profile_path(@post.account), class: 'username' %>
    </div>
    
  <div class="description">
  <%= @post.caption %>
  <p class="text-muted", style="font-size:10px;">posted <%=time_ago_in_words @post.created_at%> ago</p>
  <% if @post.account.id == current_account.id %>
    <%= link_to  raw("<i class=\"fa fa-trash-o \"></i>"), @post, :method => :delete, :confirm => "Are you sure?", :style=> 'float:right;font-size:15px;'%>
  <%end%>

  <% pre_like = @post.likes.find { |like| like.account_id == current_account.id} %>
  <% if pre_like %>
    <%= link_to raw("<i class=\"fa fa-heart\"></i>"), post_like_path(@post, pre_like), method: :delete,class:"float-left"%>
  <% else %>
    <%= link_to raw("<i class=\"fa fa-heart-o\"></i>"), post_likes_path(@post), method: :post, class:"float-left" %>
  <% end %>
<br/>
  
<p class="float-left"><%= @post.likes.count %> Likes </p>
<br/><br/>

<% if @post.comments.count != 0 %>
<div class="comments-feed">
  <%= render "posts/comments", post: @post%>
</div>
<% end %>

<div class="comment-box">
<%= form_with(model: [@post, @post.comments.build]) do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <div class="input-group">
  <%= f.text_field :comment, placeholder: "Add comments here...", style:"width:65%;"%>
  <div class="input-group-append">
  <%= f.submit "Post", class:"btn btn-success float-right post-button"%>
  </div>
  </div>
<% end %>
</div>
</div>

  </div>
</div>