<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <!-- post view -->
       
  <div class="user">
  <div class="avatar">
      <% if post.account.avatar.attached? %>
        <%= image_tag post.account.avatar %>
      <%else%>
        <%= image_tag("profile2.jpg")%>
      <% end %>
    </div>
    <div class="username">
      <%= post.account.username %>
    </div>
  </div>
  <div class="user-images">
 
    <div class="wrapper">
      <%=image_tag post.image , :width => '100%'%>
    </div>
  
  </div>
  <div class="description">
    <%= post.caption %><br/>
    <a class="text-muted", style="font-size:10px;">posted <%=time_ago_in_words post.created_at%> ago</a>
    <%= link_to 'Remove', post, :method => :delete, :confirm => "Are you sure?", :style=> 'float:right;font-size:12px;' %>
  </div>
    </section>
  <% end %>
</div>