<div class="posts">
  <div class="row">
    <div class="col-8">
      <% @posts.each do |post| %>
        <section class="post">
          <!-- post view -->

          <div class="user">
            <div class="avatar">
              <% if post.account.avatar.attached? %>
                <%=link_to image_tag(post.account.avatar), profile_path(post.account.id) %>
              <%else%>
                <%= image_tag("profile2.jpg")%>
              <% end %>
            </div>
            <div class="username">
              <%=link_to post.account.username, profile_path(post.account.id), class:"text-dark" %>
            </div>
          </div>
          <div class="user-images">
            <div class="wrapper">
              <%=image_tag post.image , :width => '100%'%>
            </div>
          </div>
          <div class="description">
          <% if post.account.id == current_account.id %>
          <%= link_to  raw("<i class=\"fa fa-trash-o \"></i>"), post, :method => :delete, :confirm => "Are you sure?", :style=> 'float:right;font-size:12px;'%>
          <%end%>
          <% pre_like = post.likes.find { |like| like.account_id == current_account.id} %>
          <% if pre_like %>
            <%= link_to raw("<i class=\"fa fa-heart\"></i>"), post_like_path(post, pre_like), method: :delete%>
          <% else %>
            <%= link_to raw("<i class=\"fa fa-heart-o\"></i>"), post_likes_path(post), method: :post %>
          <% end %>
          
          <p><%= post.likes.count %> Likes </p>
          
          <%= post.caption %><br/>
          <a class="text-muted", style="font-size:10px;">posted <%=time_ago_in_words post.created_at%> ago</a><br/>
          <% if post.comments.count != 0 %>
          <div class="comments-feed">
            <%= render "posts/comments", post: post %>
          </div>
          <% end %>
          <div class="comment-box">
          <%= form_with(model: [post, post.comments.build]) do |f| %>
            <%= f.hidden_field :post_id, value: post.id %>
            <div class="input-group">
            <%= f.text_field :comment, placeholder: "Add comments here...", style:"width:85%;"%>
            <div class="input-group-append">
            <%= f.submit "Post", class:"btn btn-success float-right post-button"%>
            </div>
            </div>
          <% end %>
          </div>
          </div>
        </section>
      <% end %> 
    </div>
    <div class="col-4">
      <div class="follower-suggetions">
        <%= link_to "view all","#", class:"float-right text-dark" %>
        <p class="text-muted"> Suggestions for you</p>
        <%= render "accounts/follower_suggestions"%>
      </div>
    </div>
  </div>
</div>