<div class="profile">
  <div class="profile row">
    <div class="col-4 avatar">
      <div class="wrapper">
        <% if @account.avatar.attached? %>
          <%= image_tag @account.avatar %>
          <%else%>
          <%= image_tag("profile2.jpg")%>
        <%end %>
      </div>
    </div>
    
    <div class="col-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%=@account.username%></h2>
        <% if current_user? %>
          <%= link_to "Edit profile", edit_account_registration_path, class: "edit-profile" %>
        <%else%>
        <% if @following_ids.include?(@account.id) %>
          <%= render "unfollow" %>
          <%else%>
          <%= render "follow" %>
          <%end%>
        <%end%>
      </div>
      <% if current_user? %>
        <ul class="posts-1">
          <li><span><%= @account.posts.count%> posts</span></li>
          <li><span><%=link_to "#{@account.total_following} followers",follower_accounts_path, class:"text-dark" %></span></li>
          <li><span><%=link_to "#{@account.total_followers} following ", following_accounts_path, class:"text-dark" %></span></li>
        </ul>
      <%else%>
        <ul class="posts-1">
          <li><span><%= @account.posts.count %></span> posts</li>
          <li><span><%=@account.total_following %></span> followers</li>
          <li><span><%=@account.total_followers %></span> following</li>
        </ul>
      <%end%>
      <div class="bio">
        <a><%=@account.bio %> </a><br/>
        <a>more...</a><br/>
        <a> <%= link_to @account.website if @account.website.present? %> </a>
      </div>
    </div>
  </div>

  
  <div class="row">
    <% @post.each do |post| %>
      <div class="col-4">
      <div>
        <%=link_to post_path(post) do %>
          <%=image_tag(post.image,:class=>"feed")%> 
        <% end %>
      </div>
      </div>
    <%end%>
  </div>
</div>
